body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

header {
  background: #007bff;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.team {
  padding: 40px;
  text-align: center;
}

.card {
  background: white;
  width: 260px;
  padding: 20px;
  margin: 15px;
  display: inline-block;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.role {
  color: #007bff;
  font-weight: bold;
}




/*.contact {
  max-width: 600px;
  margin: auto;
  padding: 40px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #0a2540;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius:10px;
  margin-bottom: 5px;
}
button:hover{
    background-color: white;
    color:#0a2540;
    
}*/

